@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgb(202, 231, 235);
}

.header {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  min-width: 750px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;
  border-radius: 20px;
}

.project {
  display: flex;
  min-height: 400px;
  font-size: 16;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.project__left-menu {
  width: 250px;
  min-width: 170px;
  border: 1px solid red;
  border-radius: 20px;
  margin-right: 10px;
}

.project__left-menu-item {
  display: block;
  height: 25px;
}
.project__left-menu-item:hover {
  color: green;
}


.project__playing-field {
  width: calc(100% - 520px);
  min-width: 300px;
  border: 1px solid red;
  border-radius: 20px;
  text-align: center;
  padding: 50px 50px 50px 50px;
}

.project__statistics-field {
  width: 250px;
  min-width: 170px;
  border: 1px solid red;
  border-radius: 20px;
  margin-left: 10px;
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.project__statistics-field-status {
  margin-top: 100px;
}

.project__statistics-field-item {
  display: block;
  height: 25px;
}

.project__statistics-field-item:hover {
  color: green;
}

.btn {
  margin-top: 100px;
}

.btn:hover {
  color: green;
}

.wellcome__game {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input__players {
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.checkbox__type {
  display: flex;
  justify-content: center;
  /* color: red; */
}

.chess__table {
  display: block;
  /* border: 1px solid red; */
  border-radius: 20px;
  /* width: 100%; */
}

td, th {
  border: 1px solid red;
  /* padding: 10px 10px; */
  margin: 10px 20px;
  min-width: 60px;
}

.data__loss {
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
}

.data__in__loss {
  width: 300px;
  height: 200px;
  padding: 10px 10px 10px 10px;

  border: 1px solid green;
  background-color: coral;
  border-radius: 20px;
}

.data__in__loss div{
  margin-top: 35px;
}
.loss__btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loss__btn div:first-child {
  margin-right: 10px;
}

.loss__btn div:hover {
  color: green;
}

